
<footer class="bg1">
    <div class="end-footer bg2">
        <div class="container">
            <div class="flex-sb-m flex-w p-t-22 p-b-22">
                <div class="p-t-5 p-b-2">
                    <p>You can find us at</p>
                </div>
                
                <div class="p-t-5 p-b-5">
                    <a href="https://www.youtube.com/channel/UCf5tavUdZZX_4mUCHyq3lTw" class="fs-15 c-white"><img src="https://res.cloudinary.com/mbrn/image/upload/w_22,h_16/v1590377456/youtube-logo_fxjv5w.png"></a>
                </div>

                <div class="txt17 p-r-20 p-t-5 p-b-5">
                    Stay updated with new feature and event additions to our website by joining our <a href="https://t.me/joinchat/R3-6EBwqW_9tcAfHJCfyhQ" targrt="_blank"> Telegram group</a><br>
                    Copyright &copy; 2023 | All rights reserved by Multimedia department.
                </div>
            </div>
        </div>
    </div>
</footer> 

