<header>
    <!-- Header desktop -->
    <div class="wrap-menu-header gradient1 trans-0-4">
        <div class="container h-full">
            <div class="wrap_header trans-0-3">
                <!-- Logo -->
                <div class="logo">
                    <a href="/">
                        <img src="/images/icons/logo.png" alt="IMG-LOGO" data-logofixed="/images/icons/logo.png">
                    </a>
                </div>

                <!-- Menu -->
                <div class="wrap_menu p-l-45 p-l-0-xl">
                    <nav class="menu">
                    
                    <ul class="main_menu">
                        {{ $currentPage := . }}
                        {{ range .Site.Menus.main }}
                        <li>
                            <a class="menu-link {{ if or ($currentPage.IsMenuCurrent " main" .)
                                ($currentPage.HasMenuCurrent "main" .) }}active{{ end }}" href="{{ .URL }}">
                                {{ .Name }}
                            </a>
                            {{ if .HasChildren }}
                            <ul>
                                {{ range .Children }}
                                <li>
                                    <a class="menu-link {{ if $currentPage.IsMenuCurrent " main" . }}active{{ end }}"
                                        href="{{ .URL }}">
                                        {{ .Name }}
                                    </a>
                                </li>
                                {{ end }}
                            </ul>
                            {{ end }}
                        </li>
                        {{ end }}
                    </ul>

                    </nav>
                </div>

                <div class="social flex-w flex-l-m p-r-20">

                    {{ with site.Params.search }}
                    {{ if .enable }}
                    <button data-target="search-modal" class="btn btn-danger m-r-7"><i class="fa fa-search"></i> Search </button>
                    {{ end }}
                    {{ end }}

                    {{ partial "search-modal.html" (dict "Context" . "Class" "x") }}

                    <a href="https://www.youtube.com/@Brindavan_Multimedia" title="Visit our YouTube channel" class="fs-15 c-white m-l-7"><i class="fa fa-youtube fa-2x fa_1"></i></a>
                    <div class="container_9 div-show-sidebar m-l-21" title="Menu">
                        <div class="holder">
                            <i class="fa fa-bars" aria-hidden="true"></i> Menu
                        </div>
                    </div>
                </div>
            </div>
            <!-- Search bar after div class="wrap_header trans-0-3"  -->
            <div id="overlay"> </div>
            <div class="row justify-content-center">
            <div class="searchbardiv col-md-6" id="formsearch">
            <h4 class="srch_head p-b-15 t-center">
                <div class="tit2">Search</div> 
                <div class="spcl">Events</div>
            </h4>
            <form id="searchform" autocomplete="off">
                 
                    <div>
                        <input type="text" id="search-input" class="form-control" placeholder="start typing to see suggestions" name="search_in" id="s"/>
                    </div>
                    <p id="yr" class="p-t-10">You are searching events of (2019-2023)</p>
                    <!-- . Click <a>here <i class="fa fa-external-link" aria-hidden="true"></i></a> for others  -->
            </form>
            <div id="search-results" class="search-results"></div>
            </div>
        </div>
    </div>
</div>
</header>

{{ if not .IsHome }}

<section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15" 
        style="background-image: url(https://res.cloudinary.com/mbrn/image/upload/q_auto/v1685204776/banner_nvokdw.webp)">
<h2 class="tit6 t-center">{{ .Title  }}</h2></section>  

{{ end }}

<!-- Sidebar -->
<aside class="sidebar trans-0-4">
    <!-- Button Hide sidebar -->
    <button class="btn-hide-sidebar ti-close color0-hov trans-0-4"></button>

    <!-- - -->
    <ul class="menu-sidebar p-t-95 p-b-70">

        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        <li class="t-center m-b-13">
            <a class="menu-link {{ if or ($currentPage.IsMenuCurrent " main" .)
                ($currentPage.HasMenuCurrent "main" .) }}active{{ end }}" href="{{ .URL }}">
                {{ .Name }}
            </a>
            {{ if .HasChildren }}
            <ul>
                {{ range .Children }}
                <li class="t-center m-b-13">
                    <a class="menu-link {{ if $currentPage.IsMenuCurrent " main" . }}active{{ end }}"
                        href="{{ .URL }}">
                        {{ .Name }}
                    </a>
                </li>
                {{ end }}
            </ul>
            {{ end }}
        </li>
        {{ end }}
    </ul>

</aside>
