
    {{/*  <div class="col-md-4 col-lg-3">
        <div class="sidebar2 p-t-20 p-b-80 p-l-20 p-l-0-md p-t-0-md">
            <!-- Search
            <div class="search-sidebar2 size12 bo2 pos-relative">
                <input class="input-search-sidebar2 txt10 p-l-20 p-r-55" type="text" name="search" placeholder="Search">
                <button class="btn-search-sidebar2 flex-c-m ti-search trans-0-4"></button>
            </div> -->

            <!-- Categories -->
            <?php
                include 'connect.php';
                include 'displaycategory.php';
                include 'archive_display.php';
            ?>

            <!-- Most Popular -->

        </div>
    </div>  */}}