{{ define "main" }}

<section>
  <div class="bread-crumb bo5-b p-t-17 p-b-17">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb"> 
          {{- range .Ancestors.Reverse }}
            <li class="breadcrumb-item"><a href="{{ .Permalink }}">{{ .Title }}</a></li>
          {{- end }}
          <li class="breadcrumb-item activ" aria-current="page">
            <a href="{{ .Permalink }}">{{ .Title }}</a>
          </li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="container">
      <div class="row">
          <div class="col-md-8 col-lg-12">

            <div class="card-deck p-t-80 h-full p-r-9 p-r-0-md bo-none-md">

              {{ $paginator := .Paginate .Pages.ByDate.Reverse }}
              {{ range  $paginator.Pages }}
              
              {{ partial "postCardDeck" . }}
            
              {{ end }}
    
            </div>
            
          </div>

      </div>

      <div class="row my-5">
        <div class="col-md-8 col-lg-12"> 
            <div class="d-flex justify-content-center py-3">
              {{ template "_internal/pagination.html" . }}
            </div>  
        </div>
      </div>

  </div>
</section>

{{ end }}