<!doctype html>
<html lang="{{ .Lang }}">
{{ partial "head.html" . }}
  <body class="animsition">

    {{/*  <!-- Header & side bar -->  */}}
        {{ partial "header" . }}
  
        {{ block "main" . }}
        {{ end }}

        {{ partial "sidebar.html" . }}

        {{/*  	<!-- Footer -->  */}}
        {{ partial "footer.html" . }}

        {{/*  <!-- Back to top -->  */}}
    
        <div class="btn-back-to-top bg0-hov" id="myBtn">
            <span class="symbol-btn-back-to-top">
                <i class="fa fa-angle-double-up" aria-hidden="true"></i>
            </span>
        </div>

    {{ partial "scripts.html" . }}
  </body>
</html>
