{{ define "main" }}


	<section>
		<div class="bread-crumb bo5-b p-t-17 p-b-17">
			<div class="container">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb"> 
						{{- range .Ancestors.Reverse }}
							<li class="breadcrumb-item"><a href="{{ .Permalink }}">{{ .Title }}</a></li>
						{{- end }}
						<li class="breadcrumb-item activ" aria-current="page">
							<a href="{{ .Permalink }}">{{ .Title }}</a>
						</li>
					</ol>
				</nav>
			</div>
		</div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-9">
                <div class="card-deck p-t-80 p-b-124 bo5-r h-full p-r-9 p-r-0-md bo-none-md">

					{{ range .Pages.ByDate.Reverse }}
					
					{{ partial "postCardDeck" . }}
				
					{{ end }}

                </div>
            </div>
        </div>
    </div>
</section>

{{ end }}
