{{ define "main" }}
<div class="container">
    <div class="row my-3">
        <div class="col-md-12 t-center">
            <h1>Feedback</h1>
            <p>Feedback is a vital part of the development process. 
                <br>
            Please take a moment to fill out the form below to help us improve this website.
            </p>
        </div>
    </div>

    <div class="row my-3 d-flex justify-content-center">
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfFGCc-PqW6_rLprKig1VHdGVgsbpAymQYwOYIINHPClB0kkg/viewform?embedded=true" width="640" height="1926" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </div>
</div>
{{ end }}